:root{
  --color1: #042544;
  --color2: #a4ce4e;
  --color3: #007abc;
  --fondo: #f2f2f2;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido:45px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Aldrich', sans-serif;
  background: var(--fondo);
}

img{
  vertical-align: top;
}


/* Preloader */
.hidden{
  overflow: hidden;
}

.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #cef;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }

  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

/* Header */

header{
  width: 100%;
  height:600px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
    ), url(img/condominio_portada_final.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


nav{
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
}

.nav1{
  background: #fff;
  height: 100px;
  color:#0466b2;
  padding: 15px;
}

.nav2{
  background:white;
  height:130px;
  color:#0466b2;
  padding: 15px;
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  max-width:1000px;
  height:inherit;
  overflow: hidden;
}

nav .enlaces a{
  display: inline-block;
  padding: 5px 0;
  margin-right: 17px;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: inherit;
}

nav .enlaces a:hover{
  border-bottom: 3px solid var(--color2);
  transition: 0.6s;
  color:var(--color2);
}

.logo, .logo img{ height:100px;}

.icono{
  display:none;
  font-size: 24px;
  padding: 23.5px 20px;
}

.textos{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#fff;
  overflow: hidden;
  text-align: center;
  padding-top: 30px;
}

.textos>h1{font-size:60px;}

.textos>h2{font-size: 30px; font-weight: 300;}

/* Main */

.contenedor{
  margin:auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 12500px; /* agrandamos enl margin y el padin del contenedor */
  text-align: center;
  overflow: hidden;
}

.contenedor h3{
  font-size: var(--titulos);
  color: var(--color1);
  margin-bottom: var(--espacios);
}

.contenedor p{
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color1);
}

.after::after{
  content:'';
  display: block;
  margin: auto;
  margin-top: var(--espacios);
  width: 500px;
  height: 5px;
  background: var(--color2);
  margin-bottom: var(--espacios-contenido);
}

.card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-card{
  width: 22%; /* con esto de finimos el contenido de las imagenes.  2, 2, 3 4  etc.*/
  box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
  overflow: hidden;
  height:400px;
}

.people{
  height: 80%; /* con esto damos el tamaño de la imagen*/
}

.content-card img{
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.texto-team{
  height: 20%;
  width: 100%;
  padding: var(--espacios) 0;
  color:var(--color1);
  font-size: 15px;
}

.about{
  /* background: url(img/teclado.jpg); */
  background-color: rgb(0,122 ,188);
  height: auto;
}

.servicios{
  display: flex;
  color:#fff;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
.caja-servicios{
  width: 25%;
  margin: auto;
  text-align: center;
}
.caja-servicios>h4{
  margin-bottom: var(--espacios);
}

.caja-servicios>p{
  text-align: center;
}

.botones-work{
  overflow: hidden;
}

.botones-work li{
  display: inline-block;
  text-align: center;
  margin-left: var(--espacios);
  margin-bottom: var(--espacios-contenido);
  padding: 6px 12px;
  border: 1px solid var(--color2);
  list-style: none;
  color:white;
  background: var(--color1);
}

.botones-work li:hover{
  background: white;
  color:var(--color1);
  cursor: pointer;
}

.botones-work .active{
  background: white;
  color:var(--color1)/* #fff; */
}

.galeria-work{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cont-work{
  width: 32%;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
  height:300px;
  overflow: hidden;
  margin-bottom: var(--espacios-contenido);
}

.img-work{
  height: 90%;
  width: 100%;
}

.img-work img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.textos-work{
  height: 10%;
}

.textos-work h4{
  line-height: 30px;
  font-weight: 300;
}

/* Footer */

footer{background:url(img/teclado.jpg);}

.marca-logo{
  width: 40%;
  margin: auto;
  margin-bottom: var(--espacios);
}
.marca-logo img{
  width: 75%;
}
.iconos{
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 100%;
}
.fab{
  font-size:60px;
  color: #FFF;
  margin-bottom: var(--espacios);
  display: inline-block;
}

footer p{
  margin-top:var(--espacios);
}

@media screen and (max-width: 700px){
  .nav2{
    color: #fff;
  }

  .icono{
    display:block;
    cursor: pointer;
    color:black !important; 
  }

  .enlaces{
    position: fixed;
    top:80px;
    background: #0061a0;
    left: 0;
    height: 100%;
    transition: 1s;
    width: 0;
    overflow: hidden;
  }

  .enlaces a{
    display: block;
    width: 100%;
    height: 50px;
    padding: 20px;
    text-align: center;
    background: #34495e;
    color:#fff !important;
  }

  .textos>h1{font-size: 45px;}
  .textos>h2{font-size:30px;}
  .textos{padding-top: 30px;}

  .content-card{
    width: 48%;
    margin-bottom:var(--margenes);
  }

  :root{
    --margenes: 30px;
  }
  
  .row2{
    font-size: 13PX;
  }
}

@media screen and (max-width: 500px){
  :root{
    --espacios-contenido: 25px;
  }

  .content-card{
    width: 90%;
  }

  .caja-servicios{
    width: 90%;
    margin-bottom: var(--margenes);
  }

  .cont-work{
    width: 85%;
    height: 70%;
  }

  .marca-logo{
    width: 80%;
  }

  .iconos{
    margin: auto;
  }
}






footer{
  width: 100%;
  background: rgb(0,122 ,188);
  color: white;   
  
}

.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body{
  display: flex;
  justify-content: space-between;
}

.colum1{
  max-width: 400px;
}

.colum1 h1{
  font-size: 22px;
}

.colum1 p{
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}

.colum2{
  max-width: 400px;
  padding: 20px;
  
}

.colum2 h1{
  font-size: 22px;
}

.row{
  margin-top: 20px;
  display: flex;
}

.row img{
  width: 36px;
  height: 36px;
}

.row label{
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

.colum3{
  max-width: 400px;
}

.colum3 h1{
  font-size: 22px;
}

.row2{
  margin-top: 20px;
  display: flex;
}

.row2 img{
  width: 36px;
  height: 36px;
}

.row2 label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer{
  width: 100%;  
  background: #101010;
}

.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  padding: 20px;
}

.copyright{
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
}

/* reglas CSS para formulario */
.form-consulta {
  max-width: 500px;
  background: rgb(21, 60, 115);
  padding: 25px;
  font-family: Aldrich,'Source Sans Pro', sans-serif;
}

.campo-form {
  width: 100%;
  height: 36px;
  margin: 2px 0 6px;
  padding-left: 6px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
}

label span {
  color: #f00
}

textarea {
  min-height: 100px !important;
  max-width:450px ;
  min-width: 100px;
  max-height:100px ;

}

.btn-form {
  display: inline-block;
  border: 0;
  background: rgb(14, 139, 211);
  height: 46px;
  line-height: 46px;
  padding: 0 20px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px
}

.btn-form:hover {
  background: #444
}

/* reglas CSS para formulario */

@media screen and (max-width: 1100px){
  
  .container-body{
      flex-wrap: wrap;
  }
  
  .colum1{
      max-width: 100%;
  }
  
  .colum2,
  .colum3{
      margin-top: 40px;
  }
}


/*whattsApp */

.whatsapp {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	z-index:100;
  }
  
  .whatsapp-icon {
	margin-top:13px;
  }
